@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #00BFA5;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 65%;
    min-width: 450px;
}

.title {
    margin: 30px;
    color: var(--main-color)
}

.text {
    font-size: 1em;
}

.container {
    width: 60%;
    min-width: 350px;
    margin-top: 15px;
    margin: 0 auto;
}

.currency,
.swap-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}

.rate-info {
    color: var(--main-color);
    font-weight: bold;
}

select,
button {
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    margin-left: 8px;
    color: white;
    background-color: var(--main-color)
}

.currency input {
    border: none;
    min-width: 0;
    font-size: 1.5em;
    text-align: right;
}

.currency input:focus,
.btn:focus,
select:focus {
    outline: 0;
}